{% extends 'base.html' %}
{% block content %}
<h2>Module afronden</h2>
<form method="post">
    <label>Student:</label>
    <select name="student">
        {% for s in students %}
        <option value="{{ s }}">{{ s }}</option>
        {% endfor %}
    </select><br>
    <label>Module:</label>
    <select name="module">
        {% for m in modules %}
        <option value="{{ m }}">{{ m }}</option>
        {% endfor %}
    </select>
    <input type="submit" value="Markeer afgerond">
</form>
{% endblock %}
