{% extends 'base.html' %}
{% block content %}
<h2>Overzicht Studenten</h2>
<ul>
    {% for name, progress in students.items() %}
    <li>
        <strong>{{ name }}</strong>
        <ul>
            {% for p in progress %}
            <li>{{ p }}</li>
            {% endfor %}
        </ul>
        <h4>Modules</h4>
        <ul>
            {% for m in modules.get(name, []) %}
            <li>
                {{ m.module }} -
                {% if m.status == 'done' %}
                    afgerond op {{ m.date }}
                {% else %}
                    bezig
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
{% endblock %}
